---
- name: creating async
  hosts: all
  become: true
  gather_facts: yes
  tasks:
    - name: install tomcat
      apt:
        name: tomcat9
        state: latest
      async: 500
      poll: 0
      register: result1


    - name: start service tomcat
      service:
        name: tomcat9
        state: started
      async: 500
      poll: 0  
      register: result2


    - name: install nginx
      apt:
        name: nginx
        state: latest
      async: 500
      poll: 0
      register: result3

    - name: start nginx
      service:
        name: nginx
        state: started
      async: 500
      poll: 0
      register: result4
    - name: show registered context
      debug:
        var:
          - result1
          - result2
          - result3
          - result4

    - name: show registered context as jinja2
      debug:
        msg: "{{ result1 ~ ', ' ~ result2 ~ ', ' ~ result3 ~ ', ' ~ result4 }}"
