---
- name: creating async
  hosts: localhost
  become: true
  gather_facts: yes
  tasks:
    - name: install tomcat
      apt:
        name: tomcat
        state: latest
      async: 5
      poll: 4

    - name: start service jenkins
      service:
        name: jenkins
        state: started

    - name: install Nexus
      apt:
        name: nexus  # Use lowercase 'nexus'
        state: latest
      async: 5
      poll: 3

    - name: start Nexus
      service:
        name: nexus  # Use lowercase 'nexus'
        state: started
