---
- name: creating async
  hosts: all
  become: true
  gather_facts: yes
  serial: 1

  tasks:
    - name: install tomcat
      apt:
        name: tomcat9
        state: latest


    - name: start service tomcat
      service:
        name: tomcat9
        state: started



    - name: install nginx
      apt:
        name: nginx
        state: latest

    - name: start nginx
      service:
        name: nginx
        state: started
