---
- name: creating async
  hosts: all
  become: true
  gather_facts: yes
  tasks:
    - name: install tomcat
      apt:
        name: tomcat9
        state: latest
      async: 5
      poll: 2


    - name: start service tomcat
      service:
        name: tomcat9
        state: started
      aync: 5
      poll: 2  


    - name: install nginx
      apt:
        name: nginx
        state: latest
      async: 5
      poll: 2

    - name: start nginx
      service:
        name: nginx
        state: started
      async: 5
      poll: 2
