---
- name: creating async
  hosts: localhost
  become: true
  gather_facts: yes
  tasks:
    - name: install tomcat
      apt:
        name: tomcat9
        state: latest
      async: 5
      poll: 4

    - name: start service tomcat
      service:
        name: tomcat9
        state: started
      async: 3
      poll: 1

    - name: install Nexus
      apt:
        name: nexus
        state: latest
      async: 5
      poll: 3

    - name: start Nexus
      service:
        name: nexus
        state: started
