---
- name: creating async
  hosts: all
  become: true
  gather_facts: yes
  vars:
    jobids: []
  tasks:
    - name: install tomcat
      apt:
        name: tomcat9
        state: latest
      async: 500
      poll: 0
      register: result1


    - name: start service tomcat
      service:
        name: tomcat9
        state: started
      async: 500
      poll: 0  
      register: result2


    - name: install nginx
      apt:
        name: nginx
        state: latest
      async: 500
      poll: 0
      register: result3

    - name: start nginx
      service:
        name: nginx
        state: started
      async: 500
      poll: 0
      register: result4
    - name: Capture Job IDs
      set_fact:
        jobids: >
               {% if item.ansible_job_id is defined -%}
                  {{ jobids + [item.ansible_job_id] }}
               {% else -%}
                 {{ jobids }}
                {% endif %}
      with_items: "{{ [ result1, result2, result3, result4 ] }}"

    - name: show registered context as jinja2
      debug:
        var: jobids
    - name: Wait for Nginx installation to complete
      async_status:
        jid: "{{ item }}"
      with_items: "{{ jobids }}"
      register: job_result
      until: job_result.finished
      retries: 30   # Retry for up to 5 minutes   